<h3>Percepciones</h3>
<hr>

<div class="row justify-content-md-center">

  <div class="col-md-6">
    <div class="form-group">
      <label for="formGroupExampleInput">Total de percepciones</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">$</div>
        </div>
        <input type="numeric" class="form-control" placeholder="0.00" value="15228.06">
      </div>
    </div>
  </div>

</div>

<h3>Deducciones</h3>
<hr>

<div class="row justify-content-md-center">

  <div class="col-md-4">
    <div class="form-group">
      <label for="formGroupExampleInput">ISR</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">$</div>
        </div>
        <input type="numeric" class="form-control" placeholder="0.00" value="1959.26" #monto1>
      </div>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="form-group">
      <label for="formGroupExampleInput">SECORE</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">$</div>
        </div>
        <input type="numeric" class="form-control" value="220.62" placeholder="0.00" #monto2>
      </div>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="form-group">
      <label for="formGroupExampleInput">Fondo de ahorro</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">$</div>
        </div>
        <input type="numeric" class="form-control" placeholder="0.00" #monto3>
      </div>
    </div>
  </div>

</div>

<div class="row justify-content-md-center">

  <div class="col-md-4">
    <div class="form-group">
      <label for="formGroupExampleInput">Seguros</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">$</div>
        </div>
        <input type="numeric" class="form-control" placeholder="0.00" #monto4>
      </div>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="form-group">
      <label for="formGroupExampleInput">Crédito Hipotecario, ISSFAM, FOVIMI</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">$</div>
        </div>
        <input type="numeric" class="form-control" placeholder="0.00" #monto5>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="form-group">
      <label for="formGroupExampleInput">Pensión alimenticia</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">$</div>
        </div>
        <input type="numeric" class="form-control" placeholder="0.00" #monto6>
      </div>
    </div>
  </div>

</div>

<div class="row justify-content-md-center">

  <div class="col-md-6">
    <div class="form-group">
      <label for="formGroupExampleInput">Total de deducciones</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">$</div>
        </div>
        <input type="numeric" class="form-control" placeholder="0.00" value="2179.88" disabled>
      </div>
    </div>
  </div>

</div>

<div class="row justify-content-md-center">

  <div class="col-md-auto">
    <button type="button" class="btn btn-success">Guardar Datos</button>
  </div>

</div>