<h3>Cuentas Internas</h3>
<hr>

<div class="table-responsive-sm">

  <table class="table">
    <thead>
      <tr class="table-success">
        <th scope="col">Tipo de referencia</th>
        <th scope="col">Núm. crédito</th>
        <th scope="col">Límite</th>
        <th scope="col">Saldo</th>
        <th scope="col">Vencido</th>
        <th scope="col">Pago Mensual</th>
        <th scope="col">Liquidar</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>PQ NORM 2AÑOS</th>
        <td>12200982</td>
        <td>46244.00</td>
        <td>46698.76</td>
        <td>0.00</td>
        <td>2136.78</td>
        <td><input type="checkbox" class="checkbox checkbox--banj"/></td>
      </tr>
      <tr>
        <th>PQ ESPECIAL_2A</th>
        <td>12025601</td>
        <td>76508.00</td>
        <td>77732.69</td>
        <td>0.00</td>
        <td>2880.46</td>
        <td><input type="checkbox" class="checkbox checkbox--banj"/></td>
      </tr>
      <tr>
        <th>*SOL BANJERCITO</th>
        <td>12522074</td>
        <td>102934.00</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>3584.64</td>
        <td><input type="checkbox" class="checkbox checkbox--banj"/></td>
      </tr>
      <tr>
        <th>SOL BANJERCITO</th>
        <td>8650395</td>
        <td>102925.00</td>
        <td>21772.54</td>
        <td>0.00</td>
        <td>3574.88</td>
        <td><input type="checkbox" class="checkbox checkbox--banj"/></td>
      </tr>
    </tbody>
  </table>

</div>

<h3>Cuentas Externas</h3>
<hr>

<div class="table-responsive-sm">

  <table class="table">
    <thead>
      <tr class="table-success">
        <th scope="col">Tipo de referencia</th>
        <th scope="col">Núm. crédito</th>
        <th scope="col">Límite</th>
        <th scope="col">Saldo</th>
        <th scope="col">Vencido</th>
        <th scope="col">Pago Mensual</th>
        <th scope="col">Liquidar</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>A plazos</th>
        <td>M0074652544982999133</td>
        <td>0.00</td>
        <td>19052.00</td>
        <td>19052.00</td>
        <td>19052.00</td>
        <td><input type="checkbox" checked="true" class="checkbox checkbox--banj" disabled/></td>
      </tr>
      <tr>
        <th>Abierta</th>
        <td>946060300667</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
        <td><input type="checkbox" class="checkbox checkbox--banj"/></td>
      </tr>
      <tr>
        <th>A plazos</th>
        <td>3166948467424884</td>
        <td>16800.00</td>
        <td>5248.00</td>
        <td>5248.00</td>
        <td>5248.00</td>
        <td><input type="checkbox" checked="true" class="checkbox checkbox--banj" disabled/></td>
      </tr>
      <tr>
        <th>A plazos</th>
        <td>00746525449829991336</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>18810.00</td>
        <td>0.00</td>
        <td><input type="checkbox" checked="true" class="checkbox checkbox--banj" disabled/></td>
      </tr>
    </tbody>
  </table>

</div>