<h4>Información del avalúo</h4>
<hr>

<div class="row justify-content-md-center">

  <div class="col-md-4">
    <div class="form-group">
      <label for="formGroupExampleInput">Valor de la vivienda</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">$</div>
        </div>
        <input type="numeric" class="form-control" placeholder="0.00">
      </div>
    </div>
  </div>

</div>

<h4>Cónyuge</h4>
<hr>

<div class="row justify-content-md-center">

  <div class="col-md-9">
    <div class="form-group">
      <label for="formGroupExampleInput">Nombre</label>
      <input type="text" class="form-control" placeholder="Nombre">
    </div>
  </div>

</div>

<div class="row justify-content-md-center">

  <div class="col-md-auto">
    <button type="button" class="btn btn-success">Guardar Datos</button>
  </div>

</div>